# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / React
node_modules/
dist/
dist-ssr/
*.local
client/node_modules/
client/dist/
client/build/

# Python
__pycache__/
*.pyc
instance/db.sqlite3
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Deployment / Platform
.vercel

# Optional OS files
Thumbs.db
